<button type="button" class="add_item_link btn btn-primary"
        data-collection-holder-class="videos"
        data-url-icon-delete="{{ asset(icons_directory ~ 'trash-white.png') }}"
>
    {{ 'snow_trick.trick.form.text_button_videos_collection'|trans }}
</button>
<ul class="row videos mt-3 mb-0 me-0 ms-0 align-items-center p-0 w-100"
    data-index="{{ form.videos|length > 0 ? form.videos|last.vars.name + 1 : 0 }}"
    data-prototype="{{ form_widget(form.videos.vars.prototype)|e('html_attr') }}"
>
    {% for video in form.videos %}
        <li class="{{ video.vars.value.id != null ? 'd-none' : 'row ps-0 pe-0 m-0' }}">{{ form_row(video.source) }}</li>
    {% endfor %}
</ul>
<div class="alert alert-info pe-3 ps-3 pt-2 pb-0 info-video">
    <p class="m-1 col-12">{{ 'snow_trick.video.form.info'|trans }}:</p>
    <p class="m-1 col-12">https://www.dailymotion.com/embed/video/xXxXxxX</p>
    <p>https://www.youtube.com/embed/XxXxXxxxXxX</p>

</div>