{{ form_start(form) }}
<div class="col-12">
    {{ form_row(form.name) }}
</div>
<div class="col-12 pb-3">
    {{ form_row(form.description) }}
</div>
<div class="d-grid gap-2">
    {% include 'trick/trick_form/_form_pictures.html.twig' %}
</div>
<div class="d-grid gap-2">
    {% include 'trick/trick_form/_form_videos.html.twig' %}
</div>
<div class="row mb-5">
    <div class="col-12 col-lg-6 text-start">
        {{ form_row(form.trickGroup) }}
    </div>
    <div class="col-12 col-lg-3 text-end">
        <button type="button" class="btn btn-danger modal-trigger w-100 mb-3"
             data-action="modal#onDelete"
             data-url="{{ url('app_trick_delete',{'slug': trick.slug}) }}">{{ 'snow_trick.trick.update.delete_button'|trans }}</button>
    </div>
    <div class="col-12 col-lg-3 text-end">
        {{ form_row(form.valider,{'attr':{'class':'btn btn-primary w-100'}}) }}
    </div>
</div>
{{ form_end(form) }}