<div class="card-body text-end">
    <a href="#" class="card-link"><img src="{{ asset('images/pencil.png') }}"
                                       alt="{% trans %}snow_trick.icon_alt.pencil{% endtrans %}"></a>
    {% if picture is defined %}
        <a href="{{ path('app_picture_delete', {'slug': trick.slug,'uuid': picture.uuid}) }}" class="card-link"><img
                    src="{{ asset('images/trash.png') }}"
                    alt="{% trans %}snow_trick.icon_alt.trash{% endtrans %}"></a>
    {% endif %}
    {% if video is defined %}
        <a href="{{ path('app_video_delete', {'slug': trick.slug,'uuid': video.uuid}) }}" class="card-link"><img
                    src="{{ asset('images/trash.png') }}"
                    alt="{% trans %}snow_trick.icon_alt.trash{% endtrans %}"></a>
    {% endif %}
</div>