<footer class="navfooter bg-light {{ fix_footer ? "fixed-bottom" : "sticky-bottom" }}">
    <div>
        <a href="{{ path('home') }}">
            <img src="{{ asset(icons_directory ~ 'home.png') }}" alt="{% trans %}snow_trick.icon_alt.home{% endtrans %}">
        </a>
    </div>


    {% if not app.user %}
        <div>
            <a href="{{ path('app_user_create') }}">
                <img src="{{ asset(icons_directory ~ 'signet.png') }}" width="48"
                     alt="{% trans %}snow_trick.icon_alt.signet{% endtrans %}">
            </a>
        </div>
        <div>
            <a href="{{ path('app_login') }}">
                <img src="{{ asset(icons_directory ~ 'entrer.png') }}" alt="{% trans %}snow_trick.icon_alt.in{% endtrans %}">
            </a>
        </div>
    {% else %}
        <div>
            <a href="{{ path('app_trick_create') }}">
                <img src="{{ asset(icons_directory ~ 'signet.png') }}" width="48"
                     alt="{% trans %}snow_trick.icon_alt.signet{% endtrans %}">
            </a>
        </div>
        <div>
            <a href="{{ path('app_logout') }}">
                <img src="{{ asset(icons_directory ~ 'sortie.png') }}" alt="{% trans %}snow_trick.icon_alt.out{% endtrans %}">
            </a>
        </div>
    {% endif %}
</footer>