<footer class="navfooter bg-light {{ fix_footer ? "fixed-bottom" : "sticky-bottom" }}">
    <div>
        <a href="{{ path('home') }}">
            <img src="{{ asset('images/home.png') }}" alt="{% trans %}snow_trick.navbar_footer.icon_home.alt{% endtrans %}">
        </a>
    </div>
    <div>
        <img src="{{ asset('images/signet.png') }}" width="48" alt="{% trans %}snow_trick.navbar_footer.icon_signet.alt{% endtrans %}">
    </div>
    {% if not app.user %}
        <div>
            <a href="{{ path('app_login') }}">
                <img src="{{ asset('images/entrer.png') }}" alt="{% trans %}snow_trick.navbar_footer.icon_in.alt{% endtrans %}">
            </a>
        </div>
    {% else %}
        <div>
            <a href="{{ path('app_logout') }}">
                <img src="{{ asset('images/sortie.png') }}" alt="{% trans %}snow_trick.navbar_footer.icon_out.alt{% endtrans %}">
            </a>
        </div>
    {% endif %}
</footer>