<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% trans %}snow_trick.title.home{% endtrans %}{% endblock %}</title>

    <link rel="icon" href="{{ asset('images/icon-snowboard.png') }}">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body {{ stimulus_controller('modal') }}>
{% include 'component/_navbar.html.twig' %}
{% if add_header == true %}
    {% include 'component/_header.html.twig' %}
{% endif %}
{% if flashes is not defined %}
    {% include 'component/_flashes.html.twig' %}
{% endif %}
{% block body %}{% endblock %}
{% include 'component/_modal.html.twig' %}
{% include 'component/_footer.html.twig' %}
{% include 'component/_navfooter.html.twig' %}
</body>
</html>
